* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.chess-container {
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -moz-box-shadow: 0 0 10px 10px #cccccc;
    -webkit-box-shadow: 0 0 10px 10px#cccccc;
    box-shadow: 0 0 10px 10px #cccccc;
    padding-top: 2px;
    padding-left: 2px;
}

.chess-piece {
    width: 37.5px;
    height: 37.5px;
    display: inline-block;
    margin-right: -5px;
    margin-bottom: -4.5px;
    position: relative;
}

.chess-piece i {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.chess-piece:nth-child(8n+1) {
    margin-left: -5px;
}

.black {
    background-color: #aaaaaa;
}

.white-piece {
    color: #dbd9d9;
}

/*** RESPONSIVE LAYOUT ***/
/* TABLETS & DESKTOP */

@media only screen and (min-width: 767px) {
    .chess-container {
        width: 600px;
        height: 600px;
    }

    .chess-piece {
        width: 75px;
        height: 75px;
    }

    .chess-piece i {
        font-size: 48px;
    }
}

/*** JS STYLES ***/
.active {
    box-shadow: inset 0 0 10px #000000;
}

.selected {
    box-shadow: inset 0 0 10px orange;
}

.not-allowed {
    box-shadow: inset 0 0 10px red;
}

.moved {
    box-shadow: inset 0 0 10px green;
}